{% extends 'base.html' %}

{% load static %}

{% block title %} محصولات |{% endblock %}

{% block content %}
    <body class="font-farsi overflow-x-hidden">
    <div class="overlay"></div>
    <div class="hover-overlay"></div>

    <!-- store modal -->
    <div class="modal product-swiper w-6/12 xl:w-9/12 lg:w-11/12" id="storesModal">
        <div class="flex flex-col">
            <div class="close-modal-btn "><i class="fa fa-times"></i></div>
            <div class="flex flex-col items-center">
                <h1 class="text-sm">برای مشاهده موجودی سایز را انتخاب کنید</h1>

                <div class="modal-product-size flex my-4">
                    <label>
                        <input type="radio" name="type-clothe" disabled/>
                        <span>M</span>
                    </label>

                    <label>
                        <input type="radio" name="type-clothe"/>
                        <span>S</span>
                    </label>

                    <label>
                        <input type="radio" name="type-clothe"/>
                        <span>Xl</span>
                    </label>

                    <label>
                        <input type="radio" name="type-clothe" disabled/>
                        <span>2Xl</span>
                    </label>

                    <label>
                        <input type="radio" name="type-clothe"/>
                        <span>3Xl</span>
                    </label>
                </div>
            </div>

            <div class="space-y-4 sm:max-h-[70vh] sm:overflow-y-scroll">
                <div class="flex border border-gray-200 border-solid rounded-md sm:flex-col">
                    <div
                            class="bg-gray-200 flex flex-col justify-center text-center px-8 text-sm leading-8 rounded-r-md sm:rounded-r-none sm:rounded-t-md sm:px-4 sm:py-12">
                        <h1>فروشگاه اقدسیه : </h1>
                        <h2>تهران اقدسیه</h2>
                    </div>

                    <div class="flex-grow p-4">
                        <div class="flex justify-between mb-2">
                            <h1 class="text-sm">آدرس</h1>
                            <span class="font-bold text-green-600">موجود <i class="fa fa-check"></i></span>
                        </div>

                        <p>اقدسیه ، میدان ارتش ، موحد دانش ، نرسیده به آجودانیه ، پلاک 37 ، طبقه 3</p>
                        <hr class="my-4">

                        <h1 class="text-sm">ساعت کاری:</h1>
                        <br>
                        <div class="flex justify-between sm:flex-col sm:space-y-2">
                            <div class="text-sm">
                                <span class="ml-6">شنبه تا پنجشنبه و جمعه</span>
                                <span>ساعت 11 الی 22</span>
                            </div>

                            <div>
                                <a href="#" class="text-sm">
                                    <i class="fa fa-map-marked-alt"></i>
                                    مشاهده ادرس روی نقشه
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex border border-gray-200 border-solid rounded-md sm:flex-col">
                    <div
                            class="bg-gray-200 flex flex-col justify-center text-center px-8 text-sm leading-8 rounded-r-md sm:rounded-r-none sm:rounded-t-md sm:px-4 sm:py-12">
                        <h1>فروشگاه اقدسیه : </h1>
                        <h2>تهران اقدسیه</h2>
                    </div>

                    <div class="flex-grow p-4">
                        <div class="flex justify-between mb-2">
                            <h1 class="text-sm">آدرس</h1>
                            <span class="font-bold text-green-600">موجود <i class="fa fa-check"></i></span>
                        </div>

                        <p>اقدسیه ، میدان ارتش ، موحد دانش ، نرسیده به آجودانیه ، پلاک 37 ، طبقه 3</p>
                        <hr class="my-4">

                        <h1 class="text-sm">ساعت کاری:</h1>
                        <br>
                        <div class="flex justify-between">
                            <div class="text-sm">
                                <span class="ml-6">شنبه تا پنجشنبه و جمعه</span>
                                <span>ساعت 11 الی 22</span>
                            </div>

                            <div>
                                <a href="#" class="text-sm">
                                    <i class="fa fa-map-marked-alt"></i>
                                    مشاهده ادرس روی نقشه
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Size selection guide -->
    <div class="modal p-0 w-7/12 xl:w-10/12 lg:w-11/12" id="sizeGuideModal">
        <div class="flex flex-col">
            <div class="close-modal-btn "><i class="fa fa-times"></i></div>
            <div class="max-h-[90vh] overflow-y-scroll">
                <div>
                    <div class="flex sm:flex-col-reverse">
                        <div class="w-1/2 sm:w-full bg-gray-100 lg:px-4 sm:py-6 flex items-center justify-center">
                            <div class="bg-white shadow-md p-6">
                                <h1 class="text-xl">پیراهن ساده مردانه 21204</h1>
                                <hr class="my-4">
                                <p class="text-2xs">مدل با قد 185 سانتی‌متر و وزن 75 کیلوگرم سایز M را پوشیده است</p>
                            </div>
                        </div>

                        <div class="flex w-1/2 sm:w-full">
                            <div>
                                <img src=" {% static 'assets/img/shirt/shirt-2--2--modal--2.jpg' %} " alt="">
                            </div>

                            <div>
                                <img src=" {% static 'assets/img/shirt/shirt-2--2--modal--3.jpg' %} " alt="">
                            </div>
                        </div>
                    </div>

                    <div class="tab-navigation flex flex-col px-4 pt-8 pb-4">
                        <div class="flex w-8/12 md:w-10/12 sm:w-full mx-auto">
                            <button class="tab-btn btn btn--md btn--secondary border-0 border-b-2 flex-grow active">جدول
                                سایز
                            </button>
                            <button class="tab-btn btn btn--md btn--secondary border-0 border-b-2 flex-grow">روش اندازه
                                گیری
                            </button>
                        </div>

                        <div class="pt-4">
                            <div class="tab-item active">
                                <div class="text-sm font-medium pt-4">
                                    <p>لطفا طبق روش اندازه گیری ارائه شده سایز مناسب خود را از جدول زیر انتخاب
                                        نمایید</p>
                                    <ul class="leading-7">
                                        <li class="list-disc list-inside">اندازه های ارائه شده در جدول زیر +/- ۱ سانتی
                                            متر دارای خطا می باشد
                                        </li>
                                        <li class="list-disc list-inside">تمامی اندازه ها به سانتی متر می باشد</li>
                                    </ul>
                                    <hr class="my-4">
                                    <table class="w-full table-bordered">
                                        <thead>
                                        <tr>
                                            <th>سایز</th>
                                            <th>عرض سینه</th>
                                            <th>عرض کمر</th>
                                            <th>طول لباس</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>M</th>
                                            <td>52</td>
                                            <td>51</td>
                                            <td>76</td>
                                        </tr>
                                        <tr>
                                            <th>L</th>
                                            <td>54</td>
                                            <td>53</td>
                                            <td>77</td>
                                        </tr>
                                        <tr>
                                            <th>XL</th>
                                            <td>56</td>
                                            <td>55</td>
                                            <td>77</td>
                                        </tr>
                                        <tr>
                                            <th>XXL</th>
                                            <td>58</td>
                                            <td>57</td>
                                            <td>78</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-item">
                                <div>
                                    <p class="text-sm">لطفا طبق تصویر زیر اندازه ها را به دست آورید . سپس با مقایسه
                                        اندازه های خود با جدول
                                        سایز ارائه شده، سایز مناسب خود را انتخاب نمایید.</p>

                                    <div class="w-full">
                                        <img src=" {% static 'assets/img/shirt/shirt-guide.jpg' %} " alt=""
                                             class="w-full">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="breadcrumb bg-gray-100 w-full p-3 container">
        <li class="text-sm transition-colors hover:text-gray-500"><a href="#">وب پوش</a></li>
        <i class="breadcrumb-icon fa fa-angle-left"></i>
        <li class="text-sm transition-colors hover:text-gray-500"><a href="#">محصولات</a></li>
        <i class="breadcrumb-icon fa fa-angle-left"></i>
        <li class="text-sm"><a>پیراهن</a></li>
    </ul>

    <!-- main -->
    <main class="container mt-12 product-details product-swiper">
        <div class="product-wrapper">

            <div class="swiper-container gallery-thumbs lg:hidden">
                <div class="swiper-wrapper" style="align-items: center">
                    {#                                            {% for img in imgs %}#}
                    {#                                                    <div class="swiper-slide">#}
                    {#                                                        <img src="{{ img.images.url }}"#}
                    {#                                                             alt="slide 1"/>#}
                    {#                                                    </div>#}
                    {#                                            {% endfor %}#}
                    <div class="swiper-slide">
                        <img src="{{ item.image_1.url }}"
                             alt="slide 1"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ item.image_2.url }}"
                             alt="slide 2"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ item.image_3.url }}"
                             alt="slide 3"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ item.image_4.url }}"
                             alt="slide 4"/>
                    </div>
                </div>
            </div>

            <div class="swiper-container gallery-top lg:w-full flex-grow">
                <div class="swiper-wrapper lg:h-[600px]">
                    {#                    {% for img in imgs %}#}
                    {#                        <div class="swiper-slide">#}
                    {#                            <img src="{{ img.images.url }}" alt="slide "/>#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}
                    <div class="swiper-slide">
                        <img src="{{ item.image_1.url }}" alt="slide 1"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ item.image_2.url }}" alt="slide 2"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ item.image_3.url }}" alt="slide 3"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ item.image_4.url }}" alt="slide 4"/>
                    </div>
                </div>
            </div>


            <div class="flex flex-col p-8 w-6/12 lg:w-full md:order-3 sm:px-0">
                <div>
                    <h1 class="text-2xl">{{ item.title }}</h1>
                    {% if item.discount_price %}
                        <p class="product-price discount">{{ item.discount_price }} تومان</p>
                    {% endif %}
                    <p class="product-price text-lg">{{ item.price }} تومان</p>

                    <div>
                        <div class="pb-4 flex gap-2">
                            <div class="text-2xl">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <a style="cursor: pointer" onclick="window.scrollTo({
                top: document.getElementById('productComment').offsetTop - document.getElementById('productComment').offsetHeight / 1.5,
                left: 0,
                behavior: 'smooth'
              })">اولین نظر را بنویسید</a>
                        </div>
                    </div>
                    <hr>
                    <form action="{% url 'add-to-cart' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="selected-color">
                            {#            <label>#}
                            {#              <input type="radio" name="modal-selected-color">#}
                            {#              <img src=" {% static 'assets/img/shirt/shirt-color-1.jpg' %} " alt="" />#}

                            {% for color in item.colors.all %}
                                <input type="radio" name="color" value="{{ color.tag }}">
                                <label>

                                    {% if color.color == '#000000' %}
                                        <span style="background: {{ color.color }};color: white;border-radius: 3px;border: 1px solid black;font-size: small">{{ color.tag }}</span>
                                    {% else %}
                                        <span style="background: {{ color.color }};border-radius: 3px;border: 1px solid black;font-size: small">{{ color.tag }}</span>
                                    {% endif %}

                                </label>

                            {% endfor %}


                        </div>


                        <div class="modal-product-size flex mt-4">
                            {% for size in item.sizes.all %}
                                <label>
                                    <input type="radio" name="size" value="{{ size.name }}"/>
                                    <span>{{ size.name }}</span>
                                </label>
                            {% endfor %}
                        </div>
                        <button class="text-blue-500 underline text-sm mt-4" data-modal="sizeGuideModal"
                                onclick="showModal(event)"><i
                                class="fa fa-ruler text-xl text-gray-900 pointer-events-none"></i>راهنمای سایز
                        </button>
                        <p class="mt-2">ارسال رایگان برای خرید های بالای 500,000 تومان</p>
                        <hr class="my-6"/>
                    {% if user.is_authenticated %}
                        <button type="submit" class="btn btn--md btn--tertiary w-full inline-block">افزودن به سبد خرید
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn--md btn--tertiary w-full inline-block" disabled>برای افزودن به سبد خرید وارد شوید یا ثبت نام کنید
                        </button>
                    {% endif %}

                    </form>
                </div>
            </div>
        </div>


        <div class="mt-16 flex gap-8 py-12 px-40 md:px-24 sm:px-12 xl:px-20 bg-gray-50 md:flex-col">
            <div class="w-4/12 md:w-full">
                <img src=" {% static 'assets/img/shirt/shirt-2--2.jpg' %} " alt="" class="md:mx-auto">
            </div>
            <div class="w-8/12 flex flex-col py-4 md:w-full">
                <h1 class="text-2xl mb-6">پیراهن ساده مردانه 21204</h1>
                <p>پیراهن آستین بلند ساده، جنس پارچه نخ پنبه، دارای دو جیب روی سینه، بسیار شیک و با کیفیت</p>
                <p>مدل با قد 185 سانتی‌متر و وزن 75 کیلوگرم سایز M را پوشیده است</p>
                <p>با توجه به تفاوت نمایش رنگ‌ها در صفحه نمایش دستگاه‌های مختلف، رنگ محصولات در تصویر تا 20% با واقعیت
                    متفاوت
                    خواهد بود</p>

                <h2 class="font-bold text-xs my-8">روش شستشو و نگهداری</h2>

                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr class="sm:flex sm:flex-col">
                        <td valign="top" width="312">
                            <ul>
                                <li class="list-disc list-inside"><span style="line-height: 24pt; font-size: 10pt;">لباس را با آب سرد
                      (30 درجه) بشویید</span></li>
                                <li class="list-disc list-inside"><span style="line-height: 24pt; font-size: 10pt;">لباس را قبل از
                      شستشو پشت و رو کنید</span></li>
                                <li class="list-disc list-inside"><span style="line-height: 24pt; font-size: 10pt;">از سفید کننده
                      استفاده نکنید</span></li>
                            </ul>
                        </td>
                        <td valign="top" width="312">
                            <ul>
                                <li class="list-disc list-inside"><span style="line-height: 24pt; font-size: 10pt;">برای خشک کردن،
                      لباس را نچلانید</span></li>
                                <li class="list-disc list-inside"><span style="line-height: 24pt; font-size: 10pt;">لباس&nbsp;را به
                      مدت طولانی در معرض نور مستقیم آفتاب قرار ندهید</span></li>
                            </ul>
                            <p dir="RTL"><span style="line-height: 24pt; font-size: 10pt;">&nbsp;</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="flex gap-12 xl:gap-6 mt-auto sm:flex-col">
                    <a href="#" class="text-sm flex gap-2 items-center" data-modal="sizeGuideModal"
                       onclick="showModal(event)">
                        <i class="fas fa-ruler pointer-events-none"></i>
                        <span class="text-blue-500 underline pointer-events-none">راهنمای انتخاب سایز</span>
                    </a>

                    <a href="#" class="text-sm flex gap-2 items-center">
                        <i class="fas fa-shipping-fast"></i>
                        روش ارسال
                    </a>

                    <a href="#" class="text-sm flex gap-2 items-center">
                        <i class="fa fa-exchange-alt"></i>
                        روش ارسال تعویض یا بازگشت آسان
                    </a>
                </div>
            </div>
        </div>


        <div class="relative mt-16 pb-12 pt-20  px-40 bg-gray-50 lg:px-24 md:px-16 sm:px-10 xs:px-6"
             id="productComment">
            <div
                    class="absolute top-0 right-1/2 translate -translate-y-1/2 translate-x-1/2 bg-white rounded-full shadow-xl text-5xl w-16 h-16 flex items-center justify-center p-12">
                <i class="fas fa-comment"></i>
            </div>

            <form>
                <label class="block">
                    <span class="input--label">متن پیام شما</span>
                    <textarea type="email" class="form-input mt-3 block w-full" rows="6" required
                              data-err="لطفا نظر خود را وارد کنید"></textarea>
                </label>
                <button type="submit" class="btn btn--sm btn--primary mr-auto block mt-6">ارسال نظر</button>
            </form>

        </div>
    </main>

    <script>
        let colors = document.getElementsByName("color");
        colors[0].checked = true;
        let sizes = document.getElementsByName("size");
        sizes[0].checked = true;
    </script>

{% endblock %}