{% extends 'base.html' %}

{% load static %}

{% block title %} محصولات |{% endblock %}

{% block content %}
    <body class="font-farsi overflow-x-hidden">
    <div class="overlay"></div>
    <div class="hover-overlay"></div>

    <!-- login modal -->
    <div class="modal tab-navigation w-1/4 xl:w-2/6 lg:w-2/4 md:w-5/6 lg:overflow-x-hidden" id="userAccountModal">
        <button class="close-modal-btn"><i class="fa fa-times"></i></button>

        <div class="tabs flex">
            <button class="tab-btn flex-auto btn btn--md btn--secondary border-0 border-b-2 xs:btn--sm active">ورود
            </button>
            <button class="tab-btn flex-auto btn btn--md btn--secondary border-0 border-b-2 xs:btn--sm">ثبت نام</button>
        </div>

        <div class="pt-8">
            <div class="tab-item active">
                <form>
                    <label class="block mb-4">
                        <span class="input--label">شماره تلفن همران</span>
                        <input type="number" class="form-input mt-1 block w-full text-left" style="direction: ltr"
                               placeholder="۹۱۲ ۰۰۰ ۰۰۰۰" required data-err="لطفا شماره موبایل خود را وارد کنید">
                    </label>

                    <label class="block mb-4">
                        <span class="input--label">رمز عبور</span>
                        <input type="password" style="direction: ltr" class="form-input mt-1 block w-full" required
                               data-err="لطفا رمز عبور خودتان را وارد کنید">
                    </label>

                    <a href="#" class="text-blue-500 inline-block">رمز عبور خود را فراموش کرده ام</a>
                    <hr class="my-4"/>
                    <button type="submit" class="btn btn--md btn--primary block w-full xs:btn--sm">ورود</button>
                </form>
            </div>

            <div class="tab-item">
                <form>
                    <label class="block mb-4">
                        <span class="input--label">شماره تلفن همران</span>
                        <input type="number" class="form-input mt-1 block w-full text-left" style="direction: ltr"
                               placeholder="۹۱۲ ۰۰۰ ۰۰۰۰" required data-err="لطفا شماره موبایل خود را وارد کنید">
                    </label>
                    <hr class="my-4"/>
                    <button type="submit" class="btn btn--md btn--primary block w-full">ثبت نام</button>
                </form>
            </div>
        </div>
    </div>

    <!-- store modal -->
    <div class="modal product-swiper w-6/12 xl:w-9/12 lg:w-11/12" id="storesModal">
        <div class="flex flex-col">
            <div class="close-modal-btn "><i class="fa fa-times"></i></div>
            <div class="flex flex-col items-center">
                <h1 class="text-sm">برای مشاهده موجودی سایز را انتخاب کنید</h1>

                <div class="modal-product-size flex my-4">
                    <label>
                        <input type="radio" name="type-clothe" disabled/>
                        <span>M</span>
                    </label>

                    <label>
                        <input type="radio" name="type-clothe"/>
                        <span>S</span>
                    </label>

                    <label>
                        <input type="radio" name="type-clothe"/>
                        <span>Xl</span>
                    </label>

                    <label>
                        <input type="radio" name="type-clothe" disabled/>
                        <span>2Xl</span>
                    </label>

                    <label>
                        <input type="radio" name="type-clothe"/>
                        <span>3Xl</span>
                    </label>
                </div>
            </div>

            <div class="space-y-4 sm:max-h-[70vh] sm:overflow-y-scroll">
                <div class="flex border border-gray-200 border-solid rounded-md sm:flex-col">
                    <div
                            class="bg-gray-200 flex flex-col justify-center text-center px-8 text-sm leading-8 rounded-r-md sm:rounded-r-none sm:rounded-t-md sm:px-4 sm:py-12">
                        <h1>فروشگاه اقدسیه : </h1>
                        <h2>تهران اقدسیه</h2>
                    </div>

                    <div class="flex-grow p-4">
                        <div class="flex justify-between mb-2">
                            <h1 class="text-sm">آدرس</h1>
                            <span class="font-bold text-green-600">موجود <i class="fa fa-check"></i></span>
                        </div>

                        <p>اقدسیه ، میدان ارتش ، موحد دانش ، نرسیده به آجودانیه ، پلاک 37 ، طبقه 3</p>
                        <hr class="my-4">

                        <h1 class="text-sm">ساعت کاری:</h1>
                        <br>
                        <div class="flex justify-between sm:flex-col sm:space-y-2">
                            <div class="text-sm">
                                <span class="ml-6">شنبه تا پنجشنبه و جمعه</span>
                                <span>ساعت 11 الی 22</span>
                            </div>

                            <div>
                                <a href="#" class="text-sm">
                                    <i class="fa fa-map-marked-alt"></i>
                                    مشاهده ادرس روی نقشه
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex border border-gray-200 border-solid rounded-md sm:flex-col">
                    <div
                            class="bg-gray-200 flex flex-col justify-center text-center px-8 text-sm leading-8 rounded-r-md sm:rounded-r-none sm:rounded-t-md sm:px-4 sm:py-12">
                        <h1>فروشگاه اقدسیه : </h1>
                        <h2>تهران اقدسیه</h2>
                    </div>

                    <div class="flex-grow p-4">
                        <div class="flex justify-between mb-2">
                            <h1 class="text-sm">آدرس</h1>
                            <span class="font-bold text-green-600">موجود <i class="fa fa-check"></i></span>
                        </div>

                        <p>اقدسیه ، میدان ارتش ، موحد دانش ، نرسیده به آجودانیه ، پلاک 37 ، طبقه 3</p>
                        <hr class="my-4">

                        <h1 class="text-sm">ساعت کاری:</h1>
                        <br>
                        <div class="flex justify-between">
                            <div class="text-sm">
                                <span class="ml-6">شنبه تا پنجشنبه و جمعه</span>
                                <span>ساعت 11 الی 22</span>
                            </div>

                            <div>
                                <a href="#" class="text-sm">
                                    <i class="fa fa-map-marked-alt"></i>
                                    مشاهده ادرس روی نقشه
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Size selection guide -->
    <div class="modal p-0 w-7/12 xl:w-10/12 lg:w-11/12" id="sizeGuideModal">
        <div class="flex flex-col">
            <div class="close-modal-btn "><i class="fa fa-times"></i></div>
            <div class="max-h-[90vh] overflow-y-scroll">
                <div>
                    <div class="flex sm:flex-col-reverse">
                        <div class="w-1/2 sm:w-full bg-gray-100 lg:px-4 sm:py-6 flex items-center justify-center">
                            <div class="bg-white shadow-md p-6">
                                <h1 class="text-xl">پیراهن ساده مردانه 21204</h1>
                                <hr class="my-4">
                                <p class="text-2xs">مدل با قد 185 سانتی‌متر و وزن 75 کیلوگرم سایز M را پوشیده است</p>
                            </div>
                        </div>

                        <div class="flex w-1/2 sm:w-full">
                            <div>
                                <img src=" {% static 'assets/img/shirt/shirt-2--2--modal--2.jpg' %} " alt="">
                            </div>

                            <div>
                                <img src=" {% static 'assets/img/shirt/shirt-2--2--modal--3.jpg' %} " alt="">
                            </div>
                        </div>
                    </div>

                    <div class="tab-navigation flex flex-col px-4 pt-8 pb-4">
                        <div class="flex w-8/12 md:w-10/12 sm:w-full mx-auto">
                            <button class="tab-btn btn btn--md btn--secondary border-0 border-b-2 flex-grow active">جدول
                                سایز
                            </button>
                            <button class="tab-btn btn btn--md btn--secondary border-0 border-b-2 flex-grow">روش اندازه
                                گیری
                            </button>
                        </div>

                        <div class="pt-4">
                            <div class="tab-item active">
                                <div class="text-sm font-medium pt-4">
                                    <p>لطفا طبق روش اندازه گیری ارائه شده سایز مناسب خود را از جدول زیر انتخاب
                                        نمایید</p>
                                    <ul class="leading-7">
                                        <li class="list-disc list-inside">اندازه های ارائه شده در جدول زیر +/- ۱ سانتی
                                            متر دارای خطا می باشد
                                        </li>
                                        <li class="list-disc list-inside">تمامی اندازه ها به سانتی متر می باشد</li>
                                    </ul>
                                    <hr class="my-4">
                                    <table class="w-full table-bordered">
                                        <thead>
                                        <tr>
                                            <th>سایز</th>
                                            <th>عرض سینه</th>
                                            <th>عرض کمر</th>
                                            <th>طول لباس</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>M</th>
                                            <td>52</td>
                                            <td>51</td>
                                            <td>76</td>
                                        </tr>
                                        <tr>
                                            <th>L</th>
                                            <td>54</td>
                                            <td>53</td>
                                            <td>77</td>
                                        </tr>
                                        <tr>
                                            <th>XL</th>
                                            <td>56</td>
                                            <td>55</td>
                                            <td>77</td>
                                        </tr>
                                        <tr>
                                            <th>XXL</th>
                                            <td>58</td>
                                            <td>57</td>
                                            <td>78</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-item">
                                <div>
                                    <p class="text-sm">لطفا طبق تصویر زیر اندازه ها را به دست آورید . سپس با مقایسه
                                        اندازه های خود با جدول
                                        سایز ارائه شده، سایز مناسب خود را انتخاب نمایید.</p>

                                    <div class="w-full">
                                        <img src=" {% static 'assets/img/shirt/shirt-guide.jpg' %} " alt=""
                                             class="w-full">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="breadcrumb bg-gray-100 w-full p-3 container">
        <li class="text-sm transition-colors hover:text-gray-500"><a href="#">وب پوش</a></li>
        <i class="breadcrumb-icon fa fa-angle-left"></i>
        <li class="text-sm transition-colors hover:text-gray-500"><a href="#">محصولات</a></li>
        <i class="breadcrumb-icon fa fa-angle-left"></i>
        <li class="text-sm"><a>پیراهن</a></li>
    </ul>

    <!-- main -->
    <main class="container mt-12 set-details max-w-6xl md:max-w-lg">
        <div class="grid grid-cols-2 gap-8 md:grid-cols-1">
            <div class="flex-grow">
                <img src="{{ set.image.url }} " alt="" class="w-full">
            </div>

            <div class="flex flex-col flex-grow md:row-start-3 md:row-end-4 md:mt-8">
                <h1 class="text-xl mb-4">{{ set.title }}</h1>
                <h2 class="text-md font-bold">محصولات انتخاب شده</h2>

                {% for cs in setorderitems.items.all %}
                    <h4>
                        {{ cs.item.price }} fsdfsd
                    </h4>
                {% endfor %}

                <hr class="my-4">
                <div>
                    {% if set_order_items %}

                        {% for setorderitem in set_order_items %}

                            <div class="divide-y divide-gray-200">

                                <div class="flex items-center gap-4 py-2">
                                    <form action="{% url 'remove_from_set' set.id %}" method="get">
                                        <input type="hidden" name="item_id" value="{{ setorderitem.id }}" hidden>
                                        <button type="submit">
                                            <a><i class="fa fa-times"></i></a>
                                        </button>
                                    </form>
                                    <div class="w-2/12"><img src="{{ setorderitem.image_1.url }}" alt="">
                                    </div>
                                    <p class="mr-auto">
                                        {{ setorderitem.get_price }}
                                        <span>تومان</span>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3 class="text-2xs text-center">هیچ محصولی انتخاب نشده</h3>
                    {% endif %}


                </div>
                <hr class="my-4">
                <div class="text-2xs flex justify-between">
                    <span>جمع کل</span>
                    <p>
                        {{ set_order_total }}
                        <span>تومان</span>
                    </p>
                </div>
                <hr class="my-4">
                <form action="{% url 'add-all-to-order' set.id %}">
                    {% if set_order_items %}
                        <button class="block btn btn--md btn--tertiary">افزودن به سبد خرید</button>
                    {% else %}
                        <button class="block btn btn--md btn--tertiary" disabled>افزودن به سبد خرید</button>
                    {% endif %}
                </form>
            </div>

            <div class="grid grid-cols-4 md:grid-cols-2 gap-4 mt-24 md:mt-0 col-span-full">

                {% for set_item in set.items.all %}
                    <!-- product modal -->
                    <div class="modal product-modal product-swiper lg:w-screen lg:max-h-[90vh] lg:overflow-y-scroll"
                         id="{{ set_item.id }}">
                        <form action="{% url 'add-to-set' set_item.id %}" method="get">
                            <div class="flex lg:grid lg:grid-cols-[70vh 1fr 0fr]">
                                <div class="close-modal-btn right-8 top-2 z-10"><i class="fa fa-times"></i></div>
                                <div class="swiper-container gallery-thumbs lg:hidden">
                                    <div class="swiper-wrapper" style="align-items: center">
                                        <div class="swiper-slide">
                                            <img src="{{ set_item.image_1.url }}"
                                                 alt="slide 1"/>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{{ set_item.image_2.url }}"
                                                 alt="slide 2"/>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{{ set_item.image_3.url }}"
                                                 alt="slide 3"/>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{{ set_item.image_4.url }}"
                                                 alt="slide 4"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-container gallery-top lg:w-full">
                                    <div class="swiper-wrapper">
                                        {#                                            {% for img in imags %}#}
                                        {#                                                {% if img.post.id == set_item.id %}#}
                                        {#                                                    <div class="swiper-slide">#}
                                        {#                                                        <img src="{{ img.images.url }}"#}
                                        {#                                                             alt="slide 1"/>#}
                                        {#                                                    </div>#}
                                        {#                                                {% endif %}#}
                                        {#                                            {% endfor %}#}
                                        <div class="swiper-slide">
                                            <img src="{{ set_item.image_1.url }}"
                                                 alt="slide 1"/>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{{ set_item.image_2.url }}"
                                                 alt="slide 2"/>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{{ set_item.image_3.url }}"
                                                 alt="slide 3"/>
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{{ set_item.image_4.url }}"
                                                 alt="slide 4"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-col">
                                    <div class="product-content-inner overflow-y-scroll">
                                        <h1 class="text-xl font-bold">{{ set_item.title }}</h1>
                                        <p class="text-2xs my-4">{{ set_item.price }} تومان </p>
                                        <hr/>
                                        {% for color in set_item.colors.all %}
                                            <label>
                                                <input type="radio" name="color" value="{{ color.tag }}">
                                                {% if color.color == '#000000' %}
                                                    <span style="background: {{ color.color }};color: white;border-radius: 3px;border: 1px solid black;font-size: small">{{ color.tag }}</span>
                                                {% else %}
                                                    <span style="background: {{ color.color }};border-radius: 3px;border: 1px solid black;font-size: small">{{ color.tag }}</span>
                                                {% endif %}

                                            </label>

                                        {% endfor %}

                                        <div class="modal-product-size flex my-4">
                                            {% for size in set_item.sizes.all %}
                                                <label>
                                                    <input type="radio" name="size" value="{{ size.name }}"/>
                                                    <span>{{ size.name }}</span>
                                                </label>
                                            {% endfor %}


                                        </div>
                                        <button class="text-blue-500 underline text-sm" data-modal="sizeGuideModal"
                                                onclick="showModal(event)"><i
                                                class="fa fa-ruler text-xl text-gray-900 pointer-events-none"></i>راهنمای
                                            سایز
                                        </button>
                                        <hr class="mt-6"/>
                                        <div>
                                            <button class="accordion-btn btn w-full inline-block flex justify-between p-4 py-8">
                                                جزئیات<i
                                                    class="fa fa-angle-down"></i></button>
                                            <div class="acc-panel transition-all">
                                                <div class="p-6 pt-2 text-2xs">
                                                    <p>پیراهن آستین بلند مردانه، دارای یقه معمولی</p>

                                                    <p>
                                                        مدل با قد 185 سانتی‌متر و وزن 75 کیلوگرم سایز M را پوشیده
                                                        است
                                                    </p>
                                                    <p>
                                                        با توجه به تفاوت نمایش رنگ‌ها در صفحه نمایش دستگاه‌های
                                                        مختلف،
                                                        رنگ محصولات در تصویر تا 20% با واقعیت متفاوت خواهد بود
                                                    </p>

                                                    <p>پیراهن آستین بلند مردانه، دارای یقه معمولی</p>

                                                    <p>
                                                        مدل با قد 185 سانتی‌متر و وزن 75 کیلوگرم سایز M را پوشیده
                                                        است
                                                    </p>
                                                    <p>
                                                        با توجه به تفاوت نمایش رنگ‌ها در صفحه نمایش دستگاه‌های
                                                        مختلف،
                                                        رنگ محصولات در تصویر تا 20% با واقعیت متفاوت خواهد بود
                                                    </p>

                                                    <p>پیراهن آستین بلند مردانه، دارای یقه معمولی</p>

                                                    <p>
                                                        مدل با قد 185 سانتی‌متر و وزن 75 کیلوگرم سایز M را پوشیده
                                                        است
                                                    </p>
                                                    <p>
                                                        با توجه به تفاوت نمایش رنگ‌ها در صفحه نمایش دستگاه‌های
                                                        مختلف،
                                                        رنگ محصولات در تصویر تا 20% با واقعیت متفاوت خواهد بود
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="mb-4"/>
                                        <a href="{% url 'product-detail' set_item.id %}"
                                           class="my-4 w-full btn btn--md btn--secondary">مشاهده تمامی
                                            اطلاعات محصول</a>
                                    </div>
                                    <input type="hidden" name="set_id" value="{{ set.id }}" hidden/>
                                    <button type="submit">
                                        <a class="btn btn--md btn--tertiary w-full inline-block">افزودن به
                                            ست</a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <div>
                            <img src="{{ set_item.image_1.url }}" alt=""
                                 class="p-1 border border-gray-200">
                        </div>
                        <div class="text-center pt-4">
                            <h1>{{ set_item.title }}</h1>
                            <p class="mt-2">{{ set_item.get_price }} <span>تومان</span></p>
                            <a href="#" class="btn btn--md btn--primary block" data-modal="{{ set_item.id }}"
                               data-id="{{ set_item.id }}"
                               data-target="#{{ set_item.id }}"
                               onclick="showModal(event)">انتخاب محصول</a>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </main>

    <script>
        let colors = document.getElementsByName("color");
        for (let i = 0; i < colors.length; i++) {
            colors[i].checked = true;
        }
        let sizes = document.getElementsByName("size");
        for (let i = 0; i < colors.length; i++) {
            sizes[i].checked = true;
        }
    </script>
{% endblock %}