{% extends 'base.html' %}

{% load static %}

{% block title %} محصولات |{% endblock %}

{% block content %}
<body class="font-farsi overflow-x-hidden">
  <div class="overlay"></div>
  <div class="hover-overlay"></div>

  <!--main-->
  <main class="max-w-6xl mx-auto weblog px-4 my-8">
    <h1 class="text-2xl">درباره ما</h1>
    <hr class="my-4">
    <div class="">
      <div class="text-content">
        <h2 class="text-center mt-8">بنام خداوند بخشنده مهربان</h2>
        <p>
          با توسعه صنعت ارتباطات و تجارت الکترونیک و همگانی شدن استفاده از اینترنت در زندگی روزمره الگو های نوین خرید مطابق با نیازها و سلایق امروزی بشر بوجود آمده است. امروزه خرید از فروشگاه های اینترنتی دیگر امری تشریفاتی و دور از ذهن نیست بلکه بخش زیادی از نیاز های خانواده ها را تامین می کند.<br>
          زندگی های پر مشغله کنونی ما را بر آن داشته تا برای سپری کردن اوقات فراغت خود بین اموری همچون مطالعه، ورزش، تفریحات شخصی یا خرید یکی را انتخاب کنیم به همین جهت تلاش بر این است تا روش ساده تری برای انجام فعالیت های وقت گیری مانند خرید برگزینیم. یکی از بهترین روشها در دنیای مدرن امروز خرید اینترنتی است. در خرید از فروشگاه اینترنتی ديگر نيازي به رانندگي تا فروشگاه در ترافیک و یافتن محل پارك نیست و این فرصت را به ما می دهد تا زمان کمتری برای خرید صرف کرده و اوقات فراغت خود را بیشتر صرف سایر امور مورد علاقه خود کنیم.<br>
          از طرف دیگر منافع خرید اینترنتی از قبیل تنوع و گستردگی انتخاب کالا و حق انتخاب بیشتر، مقایسه دقیق محصولات در زمانی کوتاه، امکان خرید از خانه، دفتر كار و حتي از طريق تلفن همراه، راحتی و آرامش در هنگام خرید و... باعث گردید هر انسان هوشمندی از این روش برای تامین نیازهای خود هر چه بیشتر بهره گیرد.<br>
          در جهان امروز خرید پوشاک از طریق فروشگاه های اینترنتی نیز بخش گسترده ای از بازار تجارت الکترونیک را به خود اختصاص داده است.<br>
          عدم وجود فروشگاه تخصصی در زمینه پوشاک آقایان در کشورمان مجموعه وب پوش را بر آن داشت تا با ایجاد یک فروشگاه تخصصی پوشاک مردانه ضمن بر طرف نمودن این خلاء زمینه را برای خرید هرچه بهتر هموطنان فراهم آورد.<br>
          وب پوش افتخار دارد بعنوان اولین فروشگاه تخصصی و جامع پوشاک آقایان با جمع آوری کلکسیونی از متنوع ترین برندهای با کیفیت و برتر ضمن ارائه حق انتخاب وسیعی از محصولات خریدی مطمئن و دلچسب را برای مشتریان به ارمغان آورد.<br>
          خطی مشی وب پوش صداقت، اعتماد، کیفیت محوری، عملکرد مطلوب، تعهد و حفظ مبانی اخلاقی و حرفه ای می باشد.<br>
          این مجموعه با گرد آوری کادری مجرب در تلاش است تا سرویسی با کیفیت و بروز را به منظور سهولت در فرایند انتخاب و خرید در وب سایت خود برای مشتریان مهیا نماید و امکانات کامل و کاربر پسندی را در اختیار آنان قرار دهد.<br>
          این فروشگاه ضمن همکاری با تولیدکنندگان برتر و طیف گسترده ای از برندها تلاش می کند تا پوشاک با کیفیت مطلوب و منطبق با نیاز متفاوت مشتریان با قیمت های مناسب به دست آنان برساند. ارائه خدمات پس از فروش و پاسخگویی به مشتریان محترم یکی دیگر از اولیت های مهم وب پوش بوده تا از این رو رضایت حداکثری خریداران را که سرمایه اصلی خود می داند فراهم آورد.<br>
          <br>
          مجموعه وب پوش در راستای اهداف بلند مدت خود مبنی بر حمایت از تولید کنندگان داخلی و همچنین گسترش بازار تجارت الکترونیک در حوزه‌ی صنعت پوشاک و حوزه های وابسته این آمادگی را دارد تا با تولیدکنندگان محترم همکاری نماید. برای این منظور تولید کنندگان و تامین کنندگانی که علاقه‌مند به همکاری با این مجموعه می باشند می بایست از طریق شماره تلفن 91005005 -021 و یا از طریق ارسال ایمیل به آدرس info@webpoosh.com نسبت به تمایل عرضه محصولات خود در این فروشگاه اقدام نمایند. کارشناسان وب پوش پس از بررسی، نتیجه را به تولید کنندگان محترم اعلام خواهند کرد.<br>
          <br>
          بدیهی است تولید کنندگان و تامین کنندگانی که از نظر کیفیت محصولات مورد تایید این مجموعه قرار گیرند شرایط همکاری با این فروشگاه را دارا خواهند بود.</p><br>
      </div>
    </div>
  </main>
{% endblock %}