{% extends 'base.html' %}

{% load static %}

{% block title %} محصولات |{% endblock %}

{% block content %}
<body class="font-farsi overflow-x-hidden">
  <div class="overlay"></div>
  <div class="hover-overlay"></div>

  <!--main-->
  <main class="max-w-6xl mx-auto weblog px-4 my-8">
    <h1 class="text-2xl">روش ارسال</h1>
    <hr class="my-4">
    <div class="">
      <div class="text-content">
        <h3>روش ارسال سفارشات:</h3>
        <p>ارسال سفارشات در وب پوش به دو روش پست پیشتاز شرکت پست جمهوری اسلامی ایران و پیک موتوری (ویژه‌ی شهر تهران) انجام می پذیرد. بدیهی است انتخاب ارسال توسط شرکت پست جمهوری اسلامی به منزله آگاهی کاربر از شرایط و قوانین آن شرکت تلقی می‌گردد و مسئولیت تأخیر در ارسال یا بروز هرگونه مشکل احتمالی به عهده شرکت مربوطه بوده و وب پوش مسئولیتی در این زمینه بعهده نخواهد داشت.<br>
          همچنین لازم به یادآوری است در هنگام تحویل کالا از شرکت‌های پستی ابتدا نسبت به سالم بودن بسته‌بندی سفارش اطمینان کامل حاصل نموده، سپس رسید دریافت کالا را امضاء نمایید و به منظور سهولت در دریافت سفارش از مامورین پستی کارت شناسایی را همراه خود داشته باشید.<br>
        </p>
        <h3>مدت زمان تحویل:</h3>
        <p>
          - پست پیشتاز: زمان ارسال و تحویل سفارش توسط پست پیشتاز در شهر تهران 1 الی 2 روز کاری و در سایر شهر‌ها 2 الی 3 روز کاری می باشد.
          <br>
          - پیک موتوری (ویژه‌ی شهر تهران): زمان ارسال و تحویل سفارشات توسط پیک موتوری در مناطق 1 تا 14 شهر تهران 1 الی 2 روز کاری می باشد. به منظور هماهنگی زمان ارسال، همکاران ما در ساعات اداری با مشتریان گرامی تماس خواهند گرفت.
        </p>
        <h3>هزینه ارسال</h3>
        <p>
          - پست پیشتاز: هزینه ارسال سفارشات زیر 500 هزار تومان به سراسر کشور از جمله شهر تهران توسط پست پیشتاز مبلغ 14 هزار تومان می باشد.
          <br>
          - پیک موتوری (ویژه‌ی شهر تهران): هزینه ارسال سفارشات زیر 500 هزار تومان به مناطق 1 تا 14 شهر تهران مبلغ 14 هزار تومان می باشد. در صورتی که محدوده آدرس مشتریان گرامی خارج از مناطق 1 تا 14 شهر تهران باشد مابه التفاوت هزینه ارسال هنگام تحویل کالا دریافت خواهد شد.<br>
        </p>
        <h3>ارسال رایگان</h3>
        <p>
          هزینه ارسال برای سفارش‌های بالای 500 هزار تومان به سراسر کشور از جمله شهر تهران رایگان می باشد. همچنین هزینه ارسال سفارشات بالای 500 هزار تومان به مناطق 1 تا 14 شهر تهران توسط پیک موتوری رایگان می باشد. در صورتی که محدوده آدرس مشتریان محترم خارج از مناطق 1 تا 14 شهرداری تهران باشد وب پوش مبلغ 14 هزار تومان از هزینه ارسالی را پرداخت خواهد کرد و مابه التفاوت هزینه ارسال هنگام تحویل کالا دریافت خواهد شد.<br>
        </p>
      </div>
    </div>
  </main>
{% endblock %}