{% extends 'base.html' %}

{% load static %}

{% block title %} محصولات |{% endblock %}

{% block content %}
<body class="font-farsi overflow-x-hidden">
  <div class="overlay"></div>
  <div class="hover-overlay"></div>

  <!--main-->
  <main class="max-w-6xl mx-auto weblog px-4 my-8">
    <h1 class="text-2xl">روش پرداخت</h1>
    <hr class="my-4">
    <div class="">
      <div class="text-content">
        <h3>روش پرداخت سفارشات</h3>
        <p>
          شما می‌توانید جهت پرداخت وجه کالای خریداری شده خود یکی از روش‌های زیر را انتخاب نمایید:
        </p>
        <h3>1- پرداخت آنلاین از طریق درگاه اینترنتی</h3>
        <p>
          سریع ترین، آسان ترین و امن ترین روش پرداخت استفاده از درگاه اینترنتی می‌باشد. کاربران وب پوش می‌توانند هزینه سفارش خود را به صورت آنلاین و از طریق درگاه اینترنتی با استفاده از کلیه کارت‎های عضو شتاب پرداخت نمایند. این امر علاوه بر کاهش‌ زمان عملیات پرداختی، وب‌پوش را در ارسال سریع‌تر کالاهای خریداری شده کمک می‌نماید. بدیهی است پرداخت موفق به معنی ثبت نهایی سفارش بوده و عملیات آماده سازی و ارسال سفارش به صورت خودکار انجام می‌پذیرد.
        </p>
        <h3>2- پرداخت کارت به کارت</h3>
        <p>
          روش دیگر جهت پرداخت وجه کالای خریداری شده استفاده از فرآیند کارت ‌به کارت می‌باشد. در این روش مشتریان محترم می‌توانند از طریق اینترنت بانک و یا مراجعه به یکی از دستگاه‌های خودپرداز موجود در سطح شهر نسبت به واریز وجه اقدام نمایند. کاربران پس از انتقال وجه می‌بایست کد پیگیری پرداخت را در پروفایل خود در قسمت سفارشات من درج نمایند.
        </p>
      </div>
    </div>
  </main>
{% endblock %}