{% extends 'base.html' %}

{% load static %}

{% block title %} محصولات |{% endblock %}

{% block content %}
<body class="font-farsi overflow-x-hidden">
  <div class="overlay"></div>
  <div class="hover-overlay"></div>

  <!--main-->
  <main class="max-w-6xl mx-auto weblog px-4 my-8">
    <h1 class="text-2xl">حریم خصوصی</h1>
    <hr class="my-4">
    <div class="">
      <div class="text-content">
        <h3>حریم خصوصی کاربران</h3>
        <p>
          فروشگاه وب‌پوش در راستای خریدی آسان‌تر و سریع‌تر و همچنین ارسال محصولات برای اشخاص حقیقی و حقوقی می‌بایست اطلاعاتی را نظیر نام، آدرس، شماره تلفن، کد پستی و غیره از آنها دریافت نماید.<br>
          از دیگر مزایای ثبت‌نام و ارایه مشخصات مذکور عضویت در خبرنامه و سامانه اطلاع رسانی سایت می‌باشد که از این طریق امکان اطلاع از اضافه شدن محصولات جدید، تخفیفات و فروش‌های ویژه برای کاربران فراهم می‌شود و که البته امکان انصراف و خروج از این خبرنامه‌ها و سامانه اطلاع رسانی درپایین هر ایمیل ارسال شده مقدور می‌باشد.<br>
          وب‌پوش تمام تلاش خود را در حفظ و نگهداری اطلاعات خصوصی افراد می‌نماید تا خریدی امن و خاطره‌انگیز را برای کاربران خود مهیا سازد و البته از کاربران نیز تقاضا دارد تا در حفظ و نگهداری کلمه عبور خود کوشا باشند تا از بروز خطرات ناشی از انتشار اطلاعات خصوصی جلوگیری شود.</p>
      </div>
    </div>
  </main>
{% endblock %}