{% extends 'base.html' %}

{% load static %}

{% block title %} محصولات |{% endblock %}

{% block content %}
<body class="font-farsi overflow-x-hidden">
  <div class="overlay"></div>
  <div class="hover-overlay"></div>

  <!--main-->
  <main class="max-w-6xl mx-auto weblog px-4 my-8">
    <h1 class="text-2xl">شرایط بازگشت یا تعویض سفارشات</h1>
    <hr class="my-4">
    <div class="">
      <div class="text-content">
        <h3>شرایط بازگشت یا تعویض سفارشات</h3>
        <p>
          جهت رفاه حال شما مشتریان عزیز، وب پوش امکان بازگشت یا تعویض 7 روزه کالا را در اختیار شما قرار داده است بدین معنی که پس از تحویل کالا طبق شرایط زیر امکان تعویض یا عودت کالا را خواهید داشت. برای این منظور لازم است به موارد زیر دقت نمایید:
        </p>
        <h3>1 - تعویض یا بازگشت کالا</h3>
        <p>
          اگر شما بعد از تحویل سفارش درخواست تعویض یا بازگشت کالا را داشته باشید می توانید با همکاران پشتیبانی وب پوش تماس بگیرید و درخواست بازگشت یا تعویض کالا را اطلاع دهید. سپس کالایی را که درخواست بازگشت یا تعویض آن را دارید توسط پست برای وب پوش به آدرس "میدان ارتش، خیابان موحد دانش، نرسیده به چهار راه آجودانیه، پلاک 37 طبقه 3" با کد پستی 1957834891 ارسال نمایید. پس از دریافت مرسوله توسط وب پوش به یکی از دو حالت زیر عمل خواهد شد:<br>
          اگر شما درخواست تعویض کالا را داشته باشید کالای جدید برای شما پست می‌شود.<br>
          اگر شما درخواست عودت کالا را داشته باشید هزینه کالای عودت داده شده به شما برگشت داده خواهد شد.<br>
          شایان ذکر است تمام هزینه های مربوط به تعویض و یا عودت کالا بر عهده مشتری است.
        </p>
        <h5>چه نکاتی را برای استفاده از امکان تعویض یا بازگشت کالا باید رعایت کنم ؟</h5>
        <p>
          الف) زمان استفاده از این سرویس تا 7 روز بعد از تحویل کالا می باشد پس اگر شما بعد از تحویل سفارش خود به هر دلیلی تصمیم بر تعویض یا عودت آن را دارید حتماً قبل از اتمام 7 روز اقدام نمایید.<br>
          ب) در مدت زمان 7 روز نباید از کالا استفاده شود. یک تگ مقوایی در زمان ارسال به هر لباس پلمپ میشود. این تگ مانعی برای پرو کردن و امتحان کردن لباس نیست. لباس‌هایی که تگ مقوایی از آنها جدا شده باشد وب پوش آنها را به منزله استفاده شده در نظر می‌گیرد و قابل تعویض و یا عودت نخواهند بود.<br>
          ج) کالای برگشتی می‌بایست از نظر ظاهری در شرایط اولیه خود توسط وب‌پوش دریافت شود، و هر گونه تغییر فرم ظاهری محصول باعث خروج کالا از شرایط تعویض می‌شود.
        </p>
        <h3>2 - وجود ایراد در کالا</h3>
        <p>
          واحد کنترل کیفیت وب‌پوش قبل از بسته بندی مرسولات، با دقت و حساسیت بالایی کالاهای سفارش داده شده را بررسی نموده و درصورت اطمینان از صحت و تطابق کالا نسبت به ارسال آن اقدام می‌نماید با این وجود در صورتی که کالای خریداری شده دارای ایراد باشد، و ایراد ذکر شده مورد تأیید کارشناسان وب ‌پوش باشد این مجموعه نسبت به تعویض کالا یا استرداد وجه اقدام می‌نماید. چنانچه موجودی آن کالا در فروشگاه به اتمام رسیده باشد ، مشتریان می‌توانند درخواست کالای مشابه نموده یا وجه پرداختی را دریافت نمایند.<br>
          لازم به ذکر است که مراحل فوق ظرف مدت 2 تا 3 روز کاری پس از دریافت کالا توسط وب ‌پوش انجام خواهد شد. همچنین هزینه بازگشت کالا تا سقف مبلغ 20 هزار تومان برعهده وب پوش خواهد بود.
        </p>
        <h5>شرایط تعویض کالا دارای ایراد</h5>
        <p>
          الف) کاربران می‌بایست حداکثر ظرف مدت 7 روز بعد از دریافت کالا ایراد را از طریق پروفایل و یا تماس تلفنی به کارشناسان وب ‌پوش اعلام نمایند. بدیهی است پس از گذشت 7 روز کالای مورد نظر شامل این سرویس نمی‌باشد.<br>
          ب) ایراد ناشی از استفاده ناصحیح از کالا، برخورد شی تیز و یا سایر مشکلات عمدی نباشد.<br>
          ج) ایراد اعلام شده توسط کاربر مورد تایید کارشناسان وب‌پوش قرارگیرد.<br>
          د) کالای برگشتی می‌بایست از نظر ظاهری در شرایط اولیه خود توسط وب‌پوش دریافت شود، و هر گونه تغییر فرم ظاهری محصول باعث خروج کالا از شرایط تعویض می‌شود.<br>
          در صورتی که پس از استرداد کالا ایراد اعلام شده مورد تایید کارشناسان وب‌پوش نباشد هزینه ارسال مجدد کالا بر عهده مشتری خواهد بود.
        </p>
        <h3>3 - عدم تطابق کالا</h3>
        <p>
          در صورتی که کالای تحویلی مغایر با کالای سفارش داده شده توسط مشتری باشد با رعایت شرایط زیر مشمول سرویس تعویض 7 روزه است. در صورتی که کالای مورد نظر در فروشگاه موجود نباشد به انتخاب مشتری، با کالای مشابه دیگر تعویض و یا وجه پرداختی به حساب مشتری واریز می‌گردد.<br>
        </p>
        <h5>شرایط تعویض کالای نامنطبق</h5>
        <p>
          الف) در صورت عدم انطباق کالای تحویل شده با نمونه ارائه شده در سایت مشتری باید حداکثر تا هفت روز پس از تحویل کالا نسبت به اعلام درخواست تعویض یا عودت کالا به کارشناسان وب‌پوش از طریق تماس تلفنی در قسمت تماس با ما اقدام نماید در غیر این صورت کالای مورد نظر شامل این سرویس نمی‌باشد.<br>
          ب) استرداد کالا مستلزم جدا نشدن تگ‌ها از کالا بوده و در صورت جدا شدن و یا مخدوش شدن تگ‌ها ، کالای خریداری شده قابل استرداد نیست.<br>
          ج) در صورتیکه امکان تشخیص عدم تطابق کالا و یا مورد پسند نبودن آن بدون باز کردن پلمپ کالا مقدور باشد (از قبیل عطر و ادکلن) ، پس از خارج کردن کالا از حالت آکبند (پلمپ) امکان استفاده از این سرویس از کاربر سلب می‌شود.<br>
          د) کالای برگشتی می‌بایست از نظر ظاهری در شرایط اولیه خود توسط وب‌پوش دریافت شود، و هر گونه تغییر فرم ظاهری محصول باعث خروج کالا از شرایط تعویض می‌شود.<br>
          درصورت درخواست تعویض، کالا برای شما تعویض خواهد شد و درصورت درخواست عودت ، وجه کالا به صورت کامل به شما برگشت داده خواهد شد.<br>
          "شایان ذکر است مسئولیت ثبت سفارش با مشتریان محترم می‌باشد و در صورت تغییر در سفارشات، هزینه ارسال مجدد و برگشت کالا بر عهده مشتریان محترم خواهد بود"
        </p>
      </div>
    </div>
  </main>
{% endblock %}