{% extends 'base.html' %}

{% load static %}

{% block title %} محصولات |{% endblock %}

{% block content %}
<body class="font-farsi overflow-x-hidden">
  <div class="overlay"></div>
  <div class="hover-overlay"></div>

  <!--main-->
  <main class="max-w-6xl mx-auto weblog px-4 my-8">
    <h1 class="text-2xl">راهنمای انتخاب سایز</h1>
    <hr class="my-4">
    <div class="">
      <div class="text-content">
        <h3>راهنمای انتخاب سایز محصولات</h3>
        <p>شاید یکی از مشکلاتی که در ذهن شما برای خرید اینترنتی پوشاک باشد چگونگی انتخاب سایز مناسب است. ما شما را در انتخاب دقیق‌تر سایز کمک خواهیم کرد:</p>
        <h3>استفاده از جدول راهنمای سایز هر محصول</h3>
        <p>در صفحه هر کالا یک جدول راهنمای سایز منحصر به همان کالا قرار داده شده است که استفاده از آن بسیار آسان می‌باشد . شما با کلیک کردن بر روی آیکون راهنمای سایز می‌توانید این جدول را مشاهده کنید. در این جدول اندازه‌های دقیق هر سایز از کالا قرار داده شده است. تنها کاری که شما باید انجام دهید اینست که یکی از لباس های خود را روی سطح صاف پهن کرده و طبق تصویر ارائه شده در راهنمای سایز اندازه خودتان را بدست آورید. سپس اندازه های بدست آمده را با جدول سایز ارائه شده مقایسه کنید و سایز مناسب خود را انتخاب کنید. به عنوان مثال اگر اندازه عرض سینه تی شرت شما 51 سانتی متر بود سایزی را انتخاب کنید که عرض سینه آن نزدیک به 51 سانتی متر باشد.<br>
          <br>
          نکته 1: مهم ترین اندازه برای انتخاب سایز لباس‌هایی از قبیل پیراهن و تی شرت ، اندازه عرض سینه و عرض کمر می باشد . سایر اندازه‌ها از قبیل طول آستین یا طول لباس در انتخاب سایز لباس چندان تاثیر گذار نبوده و صرفا به سلیقه شما در نوع لباس پوشیدن مربوط می باشد.<br>
          <br>
          نکته 2: انتخاب سایز شلوار و کت نیز به همین صورت می باشد. برای شلوار عرض کمر و عرض باسن و برای کت عرض سینه و عرض کمر در انتخاب سایز تاثیرگذار هستند.<br>
          <br>
          نکته 3: برای خرید هر نوع لباسی ، همان نوع لباس خود را اندازه گیری کنید. به عنوان مثال برای خرید پیراهن ، پیراهن خود را اندازه گیری کنید و برای خرید تی شرت ، تی شرت خود را اندازه گیری کنید.<br>
          <br>
          <br>
          نکته 4: به طور معمول قواره لباس‌ها کمی با یکدیگر متفاوت هستند به همین دلیل ممکن است لباسی سایز لارج مناسب شما باشد و یک لباس دیگر سایز ایکس لارج . به همین دلیل سایز لباس را با توجه به سایز لباس قبلیتان انتخاب نکنید و با توجه به راهنمای سایز همان کالا انتخاب کنید.<br>
          <br>
          در پایان یادآور می شویم اگر بعد از تحویل کالا احساس کردید که سایز انتخابی شما مناسبتان نیست با رعایت موارد ذکر شده در شرایط برگشت کالا تا 7 روز فرصت تعویض یا عودت محصول را دارید.</p>
      </div>
    </div>
  </main>
{% endblock %}