{% extends 'base.html' %}

{% load static %}

{% block title %} محصولات | {% endblock %}

{% block content %}
<body class="font-farsi overflow-x-hidden">
  <div class="overlay"></div>
  <div class="hover-overlay"></div>

  <!-- logOut modal -->
  <div class="modal w-3/12 p-4 lg:w-4/6 sm:w-10/12" id="logoutModal">
        <div>
            <h1 class="text-2xl">خروج از سایت</h1>
            <p class="text-sm text-gray-700 mt-2">ایا میخواهید از پروفایل خود خارج شوید ؟</p>

            <div class="mt-8 flex">
                <button
                        class="flex-grow btn btn--sm btn--primary border-2 border-gray-900 border-solid close-modal-btn static">
                    انصراف
                </button>
                <button class="flex-grow btn btn--sm btn--secondary"><a href="{% url 'logout' %}">خروج</a></button>
            </div>
        </div>
    </div>


    <ul class="breadcrumb bg-gray-100 w-full p-3 container">
        <li class="text-sm transition-colors hover:text-gray-500"><a href="{% url 'index' %}">هوگون</a></li>
        <i class="breadcrumb-icon fa fa-angle-left"></i>
        <li class="text-sm"><a>پروفایل</a></li>
    </ul>


  <!--main-->
  <main class="container px-0 profile flex md:flex-col">
    <div class="w-1/5 md:w-full">
            <div class="bg-gray-100 pt-8">
                <div class="flex flex-col items-center">
                    <span class="text-9xl"><i class="fa fa-user-circle"></i></span>
                    <h1 class="text-2xl font-bold">{{ user.username }}</h1>
                </div>

                <ul class="mt-4">
                    <li><a href=" {% url 'profile' %} " class="sidebar-item"><i
                            class="text-3xl fa fa-user"></i>پرفایل</a></li>
                    <li><a href=" {% url 'profile-orders' %} " class="sidebar-item"><i
                            class="text-3xl fa fa-shopping-basket"></i>لیست
                        سفارشات من</a></li>
{#                    <li><a href=" {% url '' %} " class="sidebar-item"><i#}
{#                            class="text-3xl fa fa-undo"></i>درخواست#}
{#                        مرجوعی</a></li>#}
                    <li><a href=" {% url 'profile-address' %} " class="sidebar-item"><i
                            class="text-3xl fa fa-map-marked-alt"></i>آدرس‌های من</a></li>
                    <li><a href=" {% url 'profile-password' %} " class="sidebar-item active"><i
                            class="text-3xl fa fa-lock-open"></i>تغییر
                        رمز عبور</a></li>
                    <li class="cursor-pointer" data-modal="logoutModal" onclick="showModal(event)"><a href="#"
                                                                                                      class="sidebar-item pointer-events-none"><i
                            class="text-3xl fa fa-times-circle"></i>خروج</a></li>
                </ul>
            </div>
        </div>

    <div class="w-4/5 md:w-full p-20 lg:p-4 md:max-w-[100vw] md:overflow-x-scroll">
      <form class="flex flex-col max-w-sm mx-auto space-y-4" method="post">
          {% csrf_token %}
        <label class="block">
          <span class="input--label">رمز عبور فعلی *</span>
          <input type="password" name="old_password" class="form-input mt-1 block w-full" required data-err="لطفا رمز عبور فعلی خود را وارد کنید">
        </label>

        <label class="block">
          <span class="input--label">رمز جدید *</span>
          <input type="password" name="new_password" class="form-input mt-1 block w-full" required data-err="لطفا رمز عبور جدید خود را وارد کنید">
        </label>

        <label class="block">
          <span class="input--label">تکرار رمز جدید *</span>
          <input type="password" name="new_password_rep" class="form-input mt-1 block w-full" required data-err="لطفا رمز عبور جدید خود را تکرار کنید">
        </label>

        <button type="submit" class="btn btn--md btn--primary mt-8 block">تغیر رمز عبور</button>
      </form>
    </div>
  </main>
{% endblock %}